[Desktop Entry]
Name=Rekollect Notes
Name[bs]=Rekollect bilješke
Name[de]=Rekollect-Notizen
Name[es]=Notas de Rekollect
Name[et]=Rekollecti märkmed
Name[fr]=Notes de Rekollect
Name[ga]=Nótaí Rekollect
Name[gl]=Notas Rekollect
Name[hu]=Rekollect megjegyzések
Name[it]=Note di Rekollect
Name[km]=ចំណាំ Rekollect
Name[mr]=रीकलेक्ट नोंदी
Name[nl]=Rekollect notities
Name[pl]=Notatki Rekollect
Name[pt]=Notas do Rekollect
Name[pt_BR]=Notas do Rekollect
Name[sk]=Poznámky Rekollect
Name[sv]=Rekollect anteckningar
Name[tr]=Rekollect Notlar
Name[uk]=Нотатки Rekollect
Name[x-test]=xxRekollect Notesxx
Comment=Displays a list of notes available in Rekollect
Comment[bs]=Prikazuje listu bilješki dostupnih u Rekollect
Comment[de]=Zeigt eine Liste der in Rekollect verfügbaren Notizen an
Comment[es]=Muestra una lista de las notas disponibles en Rekollect
Comment[et]=Rekollectis kättesaadavate märkmete loendi näitamine
Comment[fr]=Affiche une liste de notes disponibles dans Rekollect
Comment[hu]=Megjeleníti a Rekollectben elérhető megjegyzések listáját
Comment[it]=Mostra un elenco di note disponibili in Rekollect
Comment[km]=បង្ហាញ​បញ្ជី​ចំណាំ​ដែល​មាន​នៅ​ក្នុង Rekollect
Comment[mr]=रीकलेक्ट मधील उपलब्ध नोंदी दर्शवितो
Comment[nl]=Toont een lijst met notities die beschikbaar zijn in Rekollect
Comment[pl]=Wyświetla listę notatek dostępnych w Rekollect
Comment[pt]=Mostra uma lista com as notas disponíveis no Rekollect
Comment[pt_BR]=Mostra uma lista com as notas disponíveis no Rekollect
Comment[sk]=Zobrazí zoznam poznámok dostupných v Rekollect
Comment[sv]=Visar en lista med anteckningar tillgängliga i Rekollect
Comment[tr]=Rekollect içindeki mevcut not listesini görüntüler
Comment[uk]=Показує список нотаток, що зберігаються у Rekollect
Comment[x-test]=xxDisplays a list of notes available in Rekollectxx

Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=rekollect.png

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-DefaultSize=200,400

X-KDE-PluginInfo-Author=Jason Jackson
X-KDE-PluginInfo-Email=jacksonje@gmail.com
X-KDE-PluginInfo-Name=rekollect-notes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/Rekollect?content=117718
X-KDE-PluginInfo-Category=Productivity
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
