[Desktop Entry]
Name=Rekollect Notes
Comment=Displays a list of notes available in Rekollect

Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=rekollect.png

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-DefaultSize=200,400

X-KDE-PluginInfo-Author=Jason Jackson
X-KDE-PluginInfo-Email=jacksonje@gmail.com
X-KDE-PluginInfo-Name=rekollect-notes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/Rekollect?content=117718
X-KDE-PluginInfo-Category=Productivity
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
