[Desktop Entry]
Name=Rekollect Notes
Name[es]=Notas de Rekollect
Name[et]=Rekollecti märkmed
Name[nl]=Rekollect notities
Name[pt]=Notas do Rekollect
Name[pt_BR]=Notas do Rekollect
Name[sv]=Rekollect anteckningar
Name[uk]=Нотатки Rekollect
Name[x-test]=xxRekollect Notesxx
Comment=Displays a list of notes available in Rekollect
Comment[es]=Muestra una lista de las notas disponibles en Rekollect
Comment[et]=Rekollectis kättesaadavate märkmete loendi näitamine
Comment[nl]=Toont een lijst met notities die beschikbaar zijn in Rekollect
Comment[pt]=Mostra uma lista com as notas disponíveis no Rekollect
Comment[pt_BR]=Mostra uma lista com as notas disponíveis no Rekollect
Comment[sv]=Visar en lista med anteckningar tillgängliga i Rekollect
Comment[uk]=Показує список нотаток, що зберігаються у Rekollect
Comment[x-test]=xxDisplays a list of notes available in Rekollectxx
Icon=rekollect

Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
X-Plasma-RequiredExtensions=LaunchApp

X-KDE-PluginInfo-Author=Jason Jackson
X-KDE-PluginInfo-Email=jacksonje@gmail.com
X-KDE-PluginInfo-Name=rekollect-notes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/Rekollect?content=117718
X-KDE-PluginInfo-Category=Productivity
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
