[Desktop Entry]
Name=Rekollect Notes Engine
Name[de]=Rekollect-Notizen-Treiber
Name[es]=Motor de notas de Rekollect
Name[et]=Rekollecti märkmete mootor
Name[fr]=Moteur de notes de Rekollect
Name[hu]=Rekollect megjegyzések motor
Name[it]=Motore di Note di Rekollect
Name[km]=ម៉ាស៊ីន​ចំណាំ Rekollect
Name[nl]=Engine voor Rekollect notities 
Name[pl]=Silnik notatek Rekollect
Name[pt]=Motor de Notas do Rekollect
Name[pt_BR]=Mecanismo de notas Rekollect
Name[sv]=Rekollect anteckningsgränssnitt
Name[uk]=Рушій роботи з нотатками Rekollect
Name[x-test]=xxRekollect Notes Enginexx
Comment=Provides the metadata for all rekollect notes
Comment[de]=Stellt die Metadaten aller Rekollect-Notizen bereit
Comment[es]=Proporciona metadatos para todas las notas de Rekollect
Comment[et]=Metaandmete tagamine kõigile Rekollecti märkmetele
Comment[fr]=Fournit les métadonnées pour toutes les notes de Rekollect
Comment[hu]=Metaadatot szolgáltat minden rekollect megjegyzéshez
Comment[it]=Fornisce i dati aggiuntivi per tutte le note di Rekollect
Comment[km]=ផ្ដល់​នូវ​ទិន្នន័យ​មេតា​សម្រាប់​ចំណាំ rekollect​ ទាំងអស់
Comment[nl]=Levert de metagegevens voor alle Rekollect notities
Comment[pl]=Dostarcza metadanych dla wszystkich notatek rekollect
Comment[pt]=Fornece os meta-dados de todas as notas do Rekollect
Comment[pt_BR]=Fornece os metadados de todas as notas do Rekollect
Comment[sv]=Tillhandahåller metadata för alla Rekollect anteckningar
Comment[uk]=Надає метадані щодо всіх нотаток rekollect
Comment[x-test]=xxProvides the metadata for all rekollect notesxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_rekollectnotes
X-Plasma-EngineName=rekollectnotes
X-KDE-PluginInfo-Author=Jason Jackson
X-KDE-PluginInfo-Email=jacksonje@gmail.com
X-KDE-PluginInfo-Name=rekollectnotes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/Rekollect?content=117718
X-KDE-PluginInfo-Category=Productivity
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
