[Desktop Entry]
Name=Rekollect
Name[de]=Rekollect
Name[es]=Rekollect
Name[nds]=Rekollect
Name[nl]=Rekollect
Name[pt]=Rekollect
Name[pt_BR]=Rekollect
Name[sv]=Rekollect
Name[uk]=Rekollect
Name[x-test]=xxRekollectxx
Exec=rekollect %i -caption "%c"
Comment=Create and manage notes and lists
Comment[es]=Cree y gestione notas y listas
Comment[nds]=Notizen un Listen opstellen un plegen
Comment[nl]=Maakt en beheert notities en lijsten
Comment[pt]=Criar e gerir notas e listas
Comment[pt_BR]=Cria e gerencia notas e listas
Comment[sv]=Skapa och hantera anteckningar och listor
Comment[uk]=Створення та керування нотатками і списками
Comment[x-test]=xxCreate and manage notes and listsxx
Icon=rekollect
Type=Application
X-DocPath=rekollect/index.html
X-DBUS-StartupType=Unique
GenericName=Note Manager
GenericName[es]=Gestor de notas
GenericName[nds]=Notizenpleger
GenericName[nl]=Notitiebeheerder
GenericName[pt]=Gestor de Notas
GenericName[pt_BR]=Gerenciador de notas
GenericName[sv]=Anteckningshanterare
GenericName[uk]=Керування нотатками
GenericName[x-test]=xxNote Managerxx
Terminal=false
Categories=Qt;KDE;Utility;Office;
